In [1]:
import pandas as pd
import requests
import numpy as np
import matplotlib as plt

In [2]:
#CSV data files
gdp = pd.read_csv('gdp.CSV')
gdp_growth = pd.read_csv('gdp_growth.csv')
gpd_per_capita = pd.read_csv('gdp_per_capita.csv')
gdp_per_capita_growth = pd.read_csv('gdp_per_capita_growth.csv')
gni = pd.read_csv('API_NY.GNP.PCAP.CD_DS2_en_csv_v2_4250945.csv')
Chinese_pop = pd.read_csv('Chinas Population En.csv')
Japanese_pop =pd.read_csv('japanese_census.csv')
Fertility_rate = pd.read_csv('API_SP.DYN.TFRT.IN_DS2_EN_csv_v2_4023233.csv')
Age_14under = pd.read_csv('API_SP.POP.0014.TO.ZS_DS2_en_csv_v2_4153151.csv')
Age_dependency= pd.read_csv('API_SP.POP.DPND_DS2_en_csv_v2_4154688.csv')
Age_15to64 = pd.read_csv('API_SP.POP.1564.TO.ZS_DS2_en_csv_v2_4150831.csv')
Age_64above = pd.read_csv('API_SP.POP.65UP.TO.ZS_DS2_en_csv_v2_4154737.csv')
Meta_data = pd.read_csv('Metadata_Country_API_SP.POP.DPND_DS2_en_csv_v2_4154688.csv')
Life =pd.read_csv('API_SP.DYN.LE00.IN_DS2_en_csv_v2_4250211.csv')
Birth_rate = pd.read_csv('API_SP.DYN.CBRT.IN_DS2_en_csv_v2_4252397.csv')
Death_rate = pd.read_csv('API_SP.DYN.CDRT.IN_DS2_en_csv_v2_4252395.csv')
Female_pop = pd.read_csv('API_SP.POP.TOTL.FE.ZS_DS2_en_csv_v2_4262603.csv')
Total_pop =pd.read_csv('API_SP.POP.TOTL_DS2_en_csv_v2_4251154.csv')
Pop_growth = pd.read_csv('API_SP.POP.GROW_DS2_en_csv_v2_4251293.csv')
GNI = pd.read_csv('API_NY.GNP.PCAP.CD_DS2_en_csv_v2_4250945.csv')
Trade_balance = pd.read_csv('API_NE.RSB.GNFS.CD_DS2_en_csv_v2_4261356.csv')
Gov_exp = pd.read_csv('API_NE.CON.GOVT.CD_DS2_en_csv_v2_4261177.csv')

In [3]:
def demographic_data_clean(x):
    header = x.iloc[3:4]
    x.columns = header.iloc[0]
    df= x.drop(columns = ['Country Code', 'Indicator Name', 'Indicator Code'])
    df2 = df.iloc[4:].set_index('Country Name').T
    df3 = df2.reset_index().rename(columns = {3:'Year'})
    df3['Year'] = df3['Year'].astype(int)
    return df3.set_index('Year')
def Economic_data_clean(x):
    df= x.drop(columns = 'Code')
    df2 = df.set_index('Country Name').T
    df3 = df2.reset_index().rename(columns = {'index':'Year'})
    df4 = df3.iloc[0:-1].set_index('Year')
    df4.index = df4.index.astype(int)
    return df4

In [4]:
#Cleaning up the Fertility rate 
F_rate = Fertility_rate[3:] 
F_rate.columns = F_rate.iloc[0]
F = F_rate[1:-1]
F.set_index('Country Name',inplace = True)
F_rate_CN_JP  = F.loc[['China', 'Japan', 'Korea, Rep.', 'Singapore', 'Malaysia']]
F_rate_CN_JP.drop(columns = ['Indicator Name', 'Indicator Code'], inplace = True)
F_rate_CN_JP_T = F_rate_CN_JP.T
F_rate_CN_JP_T.reset_index(inplace = True)
F_rate_CN_JP_T.columns = ["Year", 'China', \
                           'Japan',\
                          'Korea, Rep.', \
                          'Singapore',\
                          'Malaysia' ]
F_rate_CN_JP_T1 = F_rate_CN_JP_T.loc[1:]
F_rate_CN_JP_T1['Year'] = F_rate_CN_JP_T1['Year'].astype(int)
F_rateDF = F_rate_CN_JP_T1.set_index('Year')

C:\Users\sangr\AppData\Local\Temp/ipykernel_21736/2088673010.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  F_rate_CN_JP_T1['Year'] = F_rate_CN_JP_T1['Year'].astype(int)

In [8]:
#Creating df for different features we will be using later 
BirthDF= demographic_data_clean(Birth_rate)
Age_14under_DF = demographic_data_clean(Age_14under)
Age_dependency_DF= demographic_data_clean(Age_dependency)
Age_15to64_DF = demographic_data_clean(Age_15to64)
Age_64above_DF = demographic_data_clean(Age_64above)
Life_DF = demographic_data_clean(Life)
Death_df = demographic_data_clean(Death_rate)
Female_pop_df= demographic_data_clean(Female_pop)
Total_pop_df = demographic_data_clean(Total_pop)
pop_growth = demographic_data_clean(Pop_growth)
GNI_df = demographic_data_clean(GNI)
Trade_df = demographic_data_clean(Trade_balance)
Gov_df = demographic_data_clean(Gov_exp)
gdp_df = Economic_data_clean(gdp)
gdp_df

Country Name,Aruba,Africa Eastern and Southern,Afghanistan,Africa Western and Central,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
Year,,,,,,,,,,,,,,,,,,,,,
1960,NaN,1.931311e+10,5.377778e+08,1.040428e+10,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.387318e+12,NaN,NaN,NaN,7.575397e+09,7.130000e+08,1.052990e+09
1961,NaN,1.972349e+10,5.488889e+08,1.112805e+10,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.443856e+12,NaN,NaN,NaN,7.972997e+09,6.962857e+08,1.096647e+09
1962,NaN,2.149392e+10,5.466667e+08,1.194335e+10,NaN,NaN,NaN,NaN,NaN,2.445060e+10,...,NaN,NaN,NaN,1.545481e+12,NaN,NaN,NaN,8.497997e+09,6.931429e+08,1.117602e+09
1963,NaN,2.573321e+10,7.511112e+08,1.267652e+10,NaN,NaN,NaN,NaN,NaN,1.827212e+10,...,NaN,NaN,NaN,1.666138e+12,NaN,NaN,NaN,9.423396e+09,7.187143e+08,1.159512e+09
1964,NaN,2.352744e+10,8.000000e+08,1.383858e+10,NaN,NaN,NaN,NaN,NaN,2.560525e+10,...,NaN,NaN,NaN,1.824277e+12,NaN,NaN,NaN,1.037400e+10,8.394286e+08,1.217138e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,2.983637e+09,8.733549e+11,1.811656e+10,6.905430e+11,1.011239e+11,1.186120e+10,2.896679e+09,2.411981e+12,3.570451e+11,5.575314e+11,...,3.798000e+09,2.052762e+11,7.808896e+08,7.630506e+13,7.994939e+08,6.682833e+09,3.131737e+10,3.235855e+11,2.095841e+10,2.054868e+10
2017,3.092430e+09,9.853557e+11,1.875347e+10,6.837416e+11,1.221238e+11,1.301969e+10,3.000181e+09,2.466443e+12,3.856055e+11,6.436287e+11,...,3.794000e+09,2.237799e+11,8.800436e+08,8.119329e+13,8.320256e+08,7.180813e+09,2.684013e+10,3.814488e+11,2.587360e+10,1.758489e+10
2018,3.202189e+09,1.012853e+12,1.805323e+10,7.416916e+11,1.013532e+11,1.515643e+10,3.218316e+09,2.730780e+12,4.222150e+11,5.248197e+11,...,3.900000e+09,2.452137e+11,9.147279e+08,8.626760e+13,8.212869e+08,7.878509e+09,2.160614e+10,4.048421e+11,2.631159e+10,1.811554e+10
2019,NaN,1.009910e+12,1.879945e+10,7.945725e+11,8.941719e+10,1.540024e+10,3.155065e+09,2.776469e+12,4.172156e+11,4.519324e+11,...,4.068000e+09,2.619212e+11,9.345216e+08,8.756805e+13,8.520071e+08,7.899879e+09,NaN,3.879346e+11,2.330867e+10,1.928429e+10
2020,NaN,9.207923e+11,2.011614e+10,7.845876e+11,5.837598e+10,1.488763e+10,NaN,2.447584e+12,3.588688e+11,3.892881e+11,...,NaN,2.711584e+11,8.815479e+08,8.474698e+13,8.071008e+08,7.716925e+09,NaN,3.354421e+11,1.811063e+10,1.805117e+10

In [12]:
Japan =  pd.DataFrame()
China =  pd.DataFrame()
Korea =  pd.DataFrame()
Singapore =  pd.DataFrame()
Malaysia  =  pd.DataFrame()
def country_df_creation(x,y):
    x['GNI per Capita'] = GNI_df[y]
    x['14 Under'] = Age_14under_DF[y]
    x['15 to 64'] = Age_15to64_DF[y]
    x['64 Above'] = Age_64above_DF[y]
    x['Female(%)'] = Female_pop_df[y]
    x['Total pop'] = Total_pop_df[y]
    x['Life expectancy at birth'] =Life_DF[y]
    x['Fertility rate, total (births per woman)'] = F_rateDF[y]
    x['Total pop'] = Total_pop_df[y]
    x['Pop Growth'] = pop_growth[y]
    x['Work Population(%)'] = Age_dependency_DF[y]
    x['Death rate']  = Death_df[y]
    x['Birth rate'] = BirthDF[y]
    x['Trade balance'] = Trade_df[y]
    x['Gov Exp'] = Gov_df[y]
    return x
Japan = country_df_creation(Japan, 'Japan')
China = country_df_creation(China, 'China')
Korea = country_df_creation(Korea, 'Korea, Rep.')
Singapore = country_df_creation(Singapore, 'Singapore')
Malaysia = country_df_creation(Malaysia, 'Malaysia')
Japan['GDP']  = gdp_df['Japan']
China['GDP']  = gdp_df['China']
Korea['GDP']  = gdp_df['Korea, Rep.']
Singapore['GDP']  = gdp_df['Singapore']
Malaysia['GDP']  = gdp_df['Malaysia']
Japan.to_csv('Japan.csv')
China.to_csv('China.csv')
Korea.to_csv('Korea.csv')
Singapore.to_csv('Singapore.csv')
Malaysia.to_csv('Malaysia.csv')

In [ ]:
#Looking at structure of the Meta data that categorizes countries 
Meta_data.IncomeGroup.value_counts()

In [ ]:
Meta_data.set_index('IncomeGroup', inplace = True)

In [ ]:
#Separating out highincome and middleincome countries
Highincome = Meta_data.drop(['Lower middle income', 'Low income', 'Upper middle income', np.nan ])
UpperMidincome =   Meta_data.drop(['Lower middle income', 'Low income', 'High income', np.nan ])

In [ ]:
#Renaming the code to match the datasets laer. 
Highincome.rename(columns = {'Country Code':'Code'}, inplace = True)
UpperMidincome.rename(columns = {'Country Code':'Code'}, inplace = True)
F.rename(columns = {'Country Code':'Code'}, inplace = True)
Age_dependency.rename(columns = {'Country Code':'Code'}, inplace = True)
Age_14under.rename(columns = {'Country Code':'Code'}, inplace = True)
Age_dependency.rename(columns = {'Country Code':'Code'}, inplace = True)
Age_15to64.rename(columns = {'Country Code':'Code'}, inplace = True)
Age_64above.rename(columns = {'Country Code':'Code'}, inplace = True)

In [ ]:
#Creating function to create a dataframe for different categories
def Function(x,y):
    DF1 = x[x.Code.isin(y.Code)]
    DF2 = DF1.set_index('Country Name').reset_index().T
    DF3 = DF2.iloc[2:-1]
    DF4 = DF3.reset_index().rename(columns = {'index':'Year'})
    DF4['Year'] = DF4['Year'].astype(int)
    DF4.set_index('Year', inplace = True)
    thresh = len(DF4) * .9
    DF4.dropna(thresh = thresh, axis = 1, inplace = True)
    return DF4
def Function2(x,y):
    DF1 = x[x.Code.isin(y.Code)]
    Df2 = DF1.iloc[4:].T
    Df3 = Df2.reset_index()
    Df4 = Df3.rename(columns = {3:'Year'})
    Df5 = Df4.loc[4:]
    Df5['Year'] = Df5['Year'].astype(int)
    Df6 = Df5.loc[4:].set_index('Year')
    thresh = len(Df6) * .2
    Df6.dropna(thresh = thresh, axis = 1, inplace = True)
    return Df6

In [ ]:
#Highincome country data
Highincome65 = Function2(Age_64above, Highincome)
Highincome14 =Function2(Age_14under, Highincome)
Highincome15to64 = Function2(Age_15to64, Highincome)
HighincomeF_rate = Function2(F, Highincome)
Highincome_Age_dependency = Function2(Age_dependency, Highincome)
Highincome_GDP_Growth = Function(gdp_growth, Highincome)
Highincome_GDP_per_capita = Function(gpd_per_capita, Highincome)
Highincome_GDP_per_capita_growth = Function(gdp_per_capita_growth, Highincome)
Highincome_DF = pd.DataFrame()
Highincome_DF['GDP Growth'] = Highincome_GDP_Growth.mean(axis = 1)
Highincome_DF['GDP Per Capita']=Highincome_GDP_per_capita.mean(axis = 1)
Highincome_DF['14 Under'] = Highincome14.mean(axis = 1)
Highincome_DF['64 Above'] = Highincome65.mean(axis = 1)
Highincome_DF['15 to 64'] = Highincome15to64.mean(axis = 1)
Highincome_DF['Fertility rate, total (births per woman)'] = HighincomeF_rate.mean(axis = 1)
Highincome_DF['Work Population(%)'] = Highincome_Age_dependency.mean(axis = 1)
Highincome_DF.to_csv('Highincome_DF.csv')

In [ ]:
#Highincome country data
UpperMidincome65 = Function2(Age_64above, UpperMidincome)
UpperMidincome14 =Function2(Age_14under, UpperMidincome)
UpperMidincome15to64 = Function2(Age_15to64, UpperMidincome)
UpperMidincomeF_rate = Function2(F, UpperMidincome)
UpperMidincome_GDP_Growth = Function(gdp_growth, UpperMidincome)
UpperMidincome_Age_dependency = Function2(Age_dependency, UpperMidincome)
UpperMidincome_Growth = Function(gdp_growth, UpperMidincome)
UpperMidincome_per_capita = Function(gpd_per_capita, UpperMidincome)
UpperMidincome_per_capita_growth = Function(gdp_per_capita_growth, UpperMidincome)
UpperMidincome_DF = pd.DataFrame()
UpperMidincome_DF['GDP Growth'] = UpperMidincome_GDP_Growth.mean(axis = 1)
UpperMidincome_DF['GDP Per Capita']=UpperMidincome_per_capita.mean(axis = 1)
UpperMidincome_DF['14 Under'] = UpperMidincome14.mean(axis = 1)
UpperMidincome_DF['64 Above'] = UpperMidincome65.mean(axis = 1)
UpperMidincome_DF['15 to 64'] = UpperMidincome15to64.mean(axis = 1)
UpperMidincome_DF['Fertility rate, total (births per woman)'] = UpperMidincomeF_rate.mean(axis = 1)
UpperMidincome_DF['Work Population(%)'] = UpperMidincome_Age_dependency.mean(axis = 1)
UpperMidincome_DF.to_csv('UpperMidincome_DF.csv')